<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">

    <title>Medics</title>
    <link rel="icon" type="image/x-icon" href="/documents/images/icon.png">
    <link rel="stylesheet" href="/styles/admin_dashboard.css">
</head>

<body>
    <div class="container" style="grid-template: 1fr 1fr 1fr 1fr 1fr / 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;">
        <div class="sidebar" style="background-color: var(--morepurple);">
            <div class="title">CardioCare</div>
            <div class="list">
                <div id="one"><a href="#" class="active">Opinion Requests</a></div>
            </div>
        </div>
        
        <div class="upperbar" style="column-gap: 20%;">
            <div class="heading">Medical Professionals Dashboard</div>
            <div class="profile" style="right: -5px;"><a style="margin: 0px; padding: 0px;" href="/logout"><img src="/documents/images/user.png"></a></div>
        </div>

        <div class="dash-body">
            <table class="table" style="background-color: var(--morepurple);">
                <tr class="table headings">
                    <th>S.No</th>
                    <th>Patient email</th>
                    <th>Image</th>
                    <th>Prediction</th>
                    <th>Status</th>
                    <th>Professional Opinion</th>
                    <th>Submit opinion</th>
                </tr>
                <% let serialNumber = 1 %>
                <% diagnoses.forEach(diagnosis => { %>
                <tr>
                    <td><%= serialNumber %></td>
                    <td><%= diagnosis.userid %></td>
                    <td><a class="view-image" href="/dashboard/medic/images/<%= diagnosis.image %>">View image</a></td>
                    <td><%= diagnosis.predClass %></td>
                    <% if(! diagnosis.verified){ %>
                        <td id="verify<%= diagnosis.image %>">Not verified</td>
                        <td>
                            <select class="dropdown" name="diseases" id="select<%= diagnosis.image %>">
                                <option value="Arrhythmia">Arrhythmia</option>
                                <option value="Myocardial Infarction">Myocardial Infarction</option>
                                <option value="Normal">Normal</option>
                                <option value="History of MI">History of MI</option>
                            </select>
                        </td>
                        <td><button id="button<%= diagnosis.image %>" onclick="submitOpinion('<%= diagnosis.image %>')">Submit</button></td>
                    <% } else { %>
                        <td>Verified</td>
                        <td><select class="dropdown" name="diseases" id="select<%= diagnosis.image %>" disabled>
                            <option value="Arrhythmia">Arrhythmia</option>
                            <option value="Myocardial Infarction">Myocardial Infarction</option>
                            <option value="Normal">Normal</option>
                            <option value="History of MI">History of MI</option>
                        </select></td>
                        <td><button disabled>Submit</button></td>
                    <% } %>

                </tr>
                <% }); %>
            </table>
        </div>
    </div>
    <script src="/script/medic_dashboard.js"></script>
</body>

</html>