<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">

    <title>User</title>
    <link rel="icon" type="image/x-icon" href="/documents/images/icon.png">
    <link rel="stylesheet" href="/styles/admin_dashboard.css">
</head>

<body>
    <div class="container" style="grid-template: 1fr 1fr 1fr 1fr 1fr / 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;">
        <div class="sidebar" style="background-color: var(--indigo);">
            <div class="title">CardioCare</div>
            <div class="list">
                <div id="one">
                    <a href="/dashboard" class="<%= page === 'new' ? 'active' : '' %>">New Diagnosis</a>
                </div>
                <div id="two">
                    <a href="/dashboard/opinion/requests" class="<%= page === 'opinion' ? 'active' : '' %>">Opinion
                        Requests</a>
                </div>
                <div id="three">
                    <a href="/dashboard/history" class="<%= page === 'history' ? 'active' : '' %>">Diagnosis History</a>
                </div>
            </div>
        </div>

        <div class="upperbar" style="column-gap: 55%;">
            <div class="heading">User Dashboard</div>
            <div class="profile" style="right: -5px;"><a 
                style="margin: 0px; padding: 0px; background-color: transparent;" href="/logout"><img
                        src="/documents/images/user.png"></a></div>
        </div>
        <% if (page==='new' ) { %>
            <div class="dash-body user">

                Upload ECG image to get diagnosed!<br><br>
                <div class="new-diag">
                    <form id="uploadForm" action="/dashboard/upload" method="post" enctype="multipart/form-data">
                        <input type="file" id="ecg" name="ecg" accept=".jpg, .png, .jpeg" onchange="previewFile()">
                        <div id="file-preview"></div>
                </div>
                <br>
                <span id="savediag"><input id="savediag" type="checkbox" name="save" value="save">Save diagnosis</span>
                <input id="getdiag" type="submit" value="get diagnosis">
                </form>
                <div id="diagnosisResult"></div>
            </div>
        <% } %>


        <% if (page==='opinion' ) { %>
            <div class="dash-body user">
                <table class="table">
                    <tr class="table headings">
                        <th>S.No</th>
                        <th>Image</th>
                        <th>Prediction</th>
                        <th>Status</th>
                        <th>Professional Opinion</th>
                    </tr>
                    <% let serialNumber = 1; %>
                    <% diagnoses.forEach(diagnosis => { %>
                        <tr>
                            <td><%= serialNumber %></td>
                            <td><a class="view-image"   href="/dashboard/images/<%= diagnosis.image %>">View image</a></td>
                            <td><%= diagnosis.predClass %></td>
                            <% if(diagnosis.verified){ %>
                                <td>Verified</td>
                                <td><%= diagnosis.newPred %></td>
                            <% }else{ %>
                                <td>Pending</td>
                                <td> - </td>
                            <% } %>
                        </tr>
                        <% serialNumber++; %>
                    <% }); %>
                </table>
            </div>
        <% } %>

        <% if (page==='history' ) { %>
            <div class="dash-body user">
               <table>
                <tr>
                    <th>S.No</th>
                    <th>Date</th>
                    <th>Image</th>
                    <th>Prediction</th>
                    <th>2nd opinion</th>
                </tr>
                <% let serialNumber = 1; %>
                <% diagnoses.forEach(diagnosis=> { %>
                    <tr class="table headings">
                        <td><%= serialNumber %></td>
                        <td><%= new Date(diagnosis.createdAt).toLocaleDateString() %></td>
                        <td><a class="view-image" href="/dashboard/images/<%= diagnosis.image %>">View image</a></td>
                        <td><%= diagnosis.predClass %></td>
                        <% if(! diagnosis.opinionReq){ %>
                            <td id="<%= diagnosis.image %>"><a class="view-image" href="#" onclick="sendRequest('/dashboard/request/create', '<%= diagnosis.image %>')">Request</a></td>
                        <% }else{ %>
                            <td>Sent</td>
                        <% } %>
                    </tr>
                    <% serialNumber++; %>
                <% }); %>
               </table>
            </div>
        <% } %>


    </div>
    <script src="/script/user_dashboard.js"></script>
</body>
</html>